[Unit]
Description=pgpool2
Documentation=man:pgpool(8)
Wants=postgresql-{{vars_version}}.service

[Service]
User=postgres

ExecStart=/usr/sbin/pgpool -n
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
StandardOutput=syslog
SyslogFacility=local1

[Install]
WantedBy=multi-user.target
